<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
    />
    <link
      rel="icon"
      href="https://inkythuatso.com/uploads/thumbnails/800/2021/11/logo-pinterest-inkythuatso-01-30-09-00-35.jpg"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    />

    <title>Printerset</title>
    <!-- modal -->
    <!--  -->
    <link rel="stylesheet" href="/css/chitiet.css" />
  </head>

  <body>
   <!-- navbar -->
   <%- include('navbar'); -%>
    <!-- container -->
    <main>
      <div class="container2">
        <a
          class="nav-link"
          href="#"
          role="button"
        
          aria-expanded="false"
        >
          <button class="btn-backhome">
            <!-- tài khoản và các tuỳ chọn khác --><ion-icon
              style="width: 30px"
              name="arrow-back-outline"
            ></ion-icon>
          </button>
        </a>
        <div class="container">
          <div
            class="body d-md-flex align-items-center justify-content-between"
          >
            <!-- img -->
            <div class="box-1 mt-md-0 mt-5">
              <img
                src="https://images.pexels.com/photos/2033997/pexels-photo-2033997.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                class=""
                alt=""
              />
            </div>

            <!-- noidung -->
            <div class="box-2 d-flex flex-column h-100">
              <!-- header-trang chi tiet -->
              <div class="header-trangchitiet">
                <!-- share-chose -->
                <div class="share-chooseOther">
                  <div class="share-header_trangchitiet">
                    <a
                      class="nav-link share-change__share"
                      href="#"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <ion-icon
                        class="iconshare-trangcchitiet"
                        name="share-outline"
                      ></ion-icon>
                    </a>
                    <!-- share.ejs -->
                    <%- include('share'); -%>
                    <!-- endshare -->
                  </div>
                  <div class="chooseOther">
                    <a
                      class="nav-link navbar-chose"
                      href="#"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      ...
                    </a>
                    <ul style="" class="dropdown-menu">
                      <li style="margin-left: 6px">
                        <a
                          style="border-radius: 8px; width: 98%"
                          class="dropdown-item"
                          href="#"
                        >
                          Tải hình ảnh xuống</a
                        >
                      </li>
                      <li style="margin-left: 6px">
                        <a
                          style="border-radius: 8px; width: 98%"
                          class="dropdown-item"
                          href="#"
                        >
                          Ẩn ghim</a
                        >
                      </li>
                      <li style="margin-left: 6px">
                        <a
                          style="border-radius: 8px; width: 98%"
                          class="dropdown-item"
                          href="#"
                        >
                          Báo cáo Ghim</a
                        >
                      </li>
                      <li style="margin-left: 6px">
                        <a
                          style="border-radius: 8px; width: 98%"
                          class="dropdown-item"
                          href="#"
                          >Nhận mã nhúng Ghim</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- end-share_chose -->
                <!-- hoso-luu -->
                <div class="profile-save">
                  <div class="chooseOther">
                    <div class="nav-item dropdown all">
                      <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                      Hồ sơ
                        <!-- tài khoản và các tuỳ chọn khác -->
                      </a>
        
                      <ul
                        style="border-radius: 16px; width: 360px; left: -300px"
                        class="dropdown-menu"
                      >
                      
                      <li style="margin-left: 6px">
                        <a
                          style="border-radius: 8px; width: 98%"
                          class="dropdown-item"
                          href="#"
                          ><h6>Lưu</h6></a
                        >
                      </li>
                      
                        <li
                          style="
                            margin-left: 6px;
                            font-size: 12px;
                            margin-left: 22px;
                            margin-top: 20px;
                          "
                        >
                        Lưu nhanh và sắp xếp lại sau
                        </li>
                        <li style="margin-left: 6px">
                          <a
                            style="border-radius: 8px; width: 98%"
                            class="dropdown-item"
                            href=""
                          >
                            <div style="display: flex">
                              <div class="avatar">
                                <img
                                  class="img-album"
                                  src="http://1.bp.blogspot.com/-PvdvQ_LCMBg/UCWeepk0CBI/AAAAAAAAA2s/ho65p8h0DwY/s1600/ace1.jpg"
                                  alt=""
                                />
                              </div>
                              <div>
                                <div class="album-new">
                                  <h6 class=>Hồ sơ</h6>
                                  
                                 
                                </div>
                                
                              </div>
                              <div class="">
                                <div class="album-save">
                                  Lưu
                                </div>
                                
                              </div>
                            </div>
                            
                          </a>
                        </li>
                        <li
                          style="
                            margin-left: 6px;
                            font-size: 12px;
                            margin-left: 22px;
                            margin-top: 20px;
                          "
                        >
                        Lưu vào bảng
                        </li>
                        <li style="margin-left: 6px">
                          <a
                            style="border-radius: 8px; width: 98%"
                            class="dropdown-item"
                            href=""
                          >
                            <div style="display: flex">
                              <div class="avatar">
                                <img
                                  class="img-album"
                                  src="http://1.bp.blogspot.com/-PvdvQ_LCMBg/UCWeepk0CBI/AAAAAAAAA2s/ho65p8h0DwY/s1600/ace1.jpg"
                                  alt=""
                                />
                              </div>
                              <div>
                                <div class="album-new">
                                  <h6 class=>Hay ho</h6>
                                  
                                 
                                </div>
                                
                              </div>
                              <div class="">
                                <div class="album-save">
                                  Lưu
                                </div>
                                
                              </div>
                            </div>
                            
                          </a>
                        </li><li
                        style="
                          margin-left: 6px;
                          font-size: 12px;
                          margin-left: 22px;
                          margin-top: 20px;
                        "
                      >
                      Đề xuất
                      </li>
                      <li style="margin-left: 6px">
                        <a
                          style="border-radius: 8px; width: 98%"
                          class="dropdown-item"
                          href=""
                        >
                          <div style="display: flex">
                            <div class="avatar">
                              <img
                                class="img-album"
                                src="http://1.bp.blogspot.com/-PvdvQ_LCMBg/UCWeepk0CBI/AAAAAAAAA2s/ho65p8h0DwY/s1600/ace1.jpg"
                                alt=""
                              />
                            </div>
                            <div>
                              <div class="album-new">
                                <h6 class=>Túi sách lv</h6>
                                
                               
                              </div>
                              
                            </div>
                            <div class="">
                              <div class="album-save1">
                                Tạo
                              </div>
                              
                            </div>
                          </div>
                          
                        </a>
                      </li>
                    
                    <li style="margin-left: 6px">
                      <a
                        style="border-radius: 8px; width: 98%"
                        class="dropdown-item"
                        href=""
                      >
                        <div style="display: flex">
                          <div class="avatar">
                            <img
                              class="img-album"
                              src="http://1.bp.blogspot.com/-PvdvQ_LCMBg/UCWeepk0CBI/AAAAAAAAA2s/ho65p8h0DwY/s1600/ace1.jpg"
                              alt=""
                            />
                          </div>
                          <div>
                            <div class="album-new">
                              <h6 class=>Tạo bảng</h6>
                              
                             
                            </div>
                            
                          </div>
                          <div class="">
                            <div class="album-save1">
                              Tạo
                            </div>
                            
                          </div>
                        </div>
                        
                      </a>
                    </li>
                    <li style="margin-left: 6px">
                      <a
                        style="border-radius: 8px; width: 98%"
                        class="dropdown-item"
                        href=""
                      >
                        <div style="display: flex">
                          <div class="avatar">
                            <img
                              class="img-album"
                              src="http://1.bp.blogspot.com/-PvdvQ_LCMBg/UCWeepk0CBI/AAAAAAAAA2s/ho65p8h0DwY/s1600/ace1.jpg"
                              alt=""
                            />
                          </div>
                          <div>
                            <div class="album-new">
                              <h6 class=>Tạo bảng</h6>
                              
                             
                            </div>
                            
                          </div>
                          <div class="">
                            <div class="album-save1">
                              Tạo
                            </div>
                            
                          </div>
                        </div>
                        
                      </a>
                    </li>
                    <li style="margin-left: 6px">
                      <a
                        style="border-radius: 8px; width: 98%"
                        class="dropdown-item"
                        href=""
                      >
                        <div style="display: flex">
                          <div class="avatar">
                            <img
                              class="img-album"
                              src="http://1.bp.blogspot.com/-PvdvQ_LCMBg/UCWeepk0CBI/AAAAAAAAA2s/ho65p8h0DwY/s1600/ace1.jpg"
                              alt=""
                            />
                          </div>
                          <div>
                            <div class="album-new">
                              <h6 class=>Tạo bảng</h6>
                              
                             
                            </div>
                            
                          </div>
                          <div class="">
                            <div class="album-save1">
                              Tạo
                            </div>
                            
                          </div>
                        </div>
                        
                      </a>
                    </li>
                    
                    
                      </ul>
                    </div>
                  </div>
                  <!-- <a href="">luu</a> -->
                  <a
                    class="nav-link btn-save_profile"
                    href="#"
                    role="button"
                    
                    aria-expanded="false"
                  >
                    Lưu
                  </a>
                </div>
                <!--  -->
              </div>
              <!-- end header- tranr chi tiet -->
              <div class="mt-5">
                <p class="mb-1 h-1">Collections.</p>
                <p class="">Mùa hoa anh đào và tôi mất em, đó là một ngày chiều tháng 7,một ngày mưa phùn cùng những giọt nước mắt</p>
                <p class="text-muted mb-2">
                  <!-- profile -->
                  <div style="margin-left: 6px">
                    <a
                      style="border-radius: 8px; width: 98%"
                      class="dropdown-item"
                      href="#"
                    >
                      <div style="display: flex">
                        <div class="avatar">
                          <img
                            class="img-avatar"
                            src="http://1.bp.blogspot.com/-PvdvQ_LCMBg/UCWeepk0CBI/AAAAAAAAA2s/ho65p8h0DwY/s1600/ace1.jpg"
                            alt=""
                          />
                        </div>
                        <div>
                          <div class="account-name">
                            <h6>Dissappear Dissappear</h6>
                            <div>Cá nhân</div>
                            <div style="font-size: 13px; color:#5e5d5d;">Cả thế giới theo dõi</div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <!-- end pro file -->
                </p>
                <div class="d-flex flex-column">
                  <form class="text-muted mb-2"><input style="width: 100%;height:5vh; border-radius:10px;font-size: 15px;padding-left: 10px;" placeholder="comment in here..." value=""></form>
                 
                </div>
                <div class="d-flex flex-column">
                  <div class="text-muted mb-2">
                 <!-- comment-in-here -->
                
                  </div>
                 
                </div>
              </div>
              <div class="mt-auto">
                <p class="footer text-muted mb-0 mt-md-0 mt-4">
                  By register you agree with our
                  <span class="p-color me-1">terms and conditions</span>and
                  <span class="p-color ms-1">privacy policy</span>
                </p>
              </div>
            </div>
            <!-- <span class="fas fa-times"></span> -->
          </div>
        </div>
      </div>
    </main>

    <!-- link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>

    <script src=""></script>
  </body>
</html>
