<div class="container">
    <!-- <% for( let i = 0; i < renderData.length; i++ ) { %> -->
     
    <!-- <div class="bst-imsge"> -->
      <!-- <% for( let j = 0; j < renderData[i].length; j++ ) { %> -->
        <div class="row" style="width: 200px; display: inline-block;">
          <div class="col-2">
            <div class="card card-img" style="width: 10rem;padding: 5px;">
              <img class="card-img-top" src="https://i.ytimg.com/vi/zI0RaF4jsy8/maxresdefault.jpg" alt="Card image cap">
            </div>
          </div>
          <div class="col-2">
            <div class="card card-img" style="width: 10rem;padding: 5px;">
              <img class="card-img-top" src="https://i.pinimg.com/474x/31/11/21/31112187b0fccf4c17cb3871fb60b84f.jpg"
                alt="Card image cap">
            </div>
          </div>
          <div class="col-2">
            <div class="card card-img" style="width: 10rem;padding: 5px;">
              <img class="card-img-top" src="https://i.pinimg.com/474x/18/52/ad/1852ad7338c7c76f0c1f6a356f4452ba.jpg" ,
                alt="Card image cap">
            </div>

          </div>
          <div class="col-2">
            <div class="card card-img" style="width: 10rem;padding: 5px;">
              <img class="card-img-top" src="https://i.pinimg.com/474x/31/11/21/31112187b0fccf4c17cb3871fb60b84f.jpg"
                alt="Card image cap">
            </div>

          </div>
          <div class="col-2">
            <div class="card card-img" style="width: 10rem;padding: 5px;">
              <img class="card-img-top" src="https://i.pinimg.com/474x/18/52/ad/1852ad7338c7c76f0c1f6a356f4452ba.jpg" ,
                alt="Card image cap">
            </div>
          </div>

          <div class="col-2">
            <div class="card card-img" style="width: 10rem;padding: 5px;">
              <img class="card-img-top" src="https://i.pinimg.com/564x/83/76/60/837660daac6b40ead974d441d797909e.jpg" ,
                alt="Card image cap">
            </div>
          </div>
        </div>
        <!-- <div><a class="title-tatal__ghim" href="">cot <%= j%><%= renderData[i][j].collection_name %></a>
          <div class="time_ghimted">
            <p class="total_ghimted"><%=renderData[i][j].amount %></p>
            <p style="color: rgb(109, 108, 108);">1 vạn năm trước</p>
          </div>
        </div> -->
      </div>
      <% } %>
      <% } %>