<ul class="dropdown-menu dropdown_menu_share_mxh">
  <li style="margin-left: 6px">
    <a style="border-radius: 8px; width: 98%" class="dropdown-item dropdown-item_mxh btn-send-on-printer1" href="#">Chia
      sẻ</a>
  </li>
  <li style="margin-left: 6px" class="item-mxh boder-bottom">
    <a style="border-radius: 8px; width: 98%" class="dropdown-item dropdown-item_mxh" href="#">
      <img class="logo-mxh" src="https://cdn-icons-png.flaticon.com/128/2504/2504845.png" alt="" />
      WhatApps</a>
    <a style="border-radius: 8px; width: 98%" class="dropdown-item dropdown-item_mxh" href="#">
      <img class="logo-mxh" src="https://cdn-icons-png.flaticon.com/128/145/145802.png" alt="" />
      Facebook</a>
    <a style="border-radius: 8px; width: 98%" class="dropdown-item dropdown-item_mxh" href="#">
      <img class="logo-mxh" src="https://cdn-icons-png.flaticon.com/128/3670/3670151.png" alt="" />
      Twiter</a>
    <a style="border-radius: 8px; width: 98%" class="dropdown-item dropdown-item_mxh" href="#">
      <img class="logo-mxh" src="https://cdn-icons-png.flaticon.com/128/1011/1011407.png" alt="" />
      Sao chép liên kết</a>
    <a style="border-radius: 8px; width: 98%" class="dropdown-item dropdown-item_mxh" href="#">
      <img class="logo-mxh" src="https://cdn-icons-png.flaticon.com/128/2089/2089181.png" alt="" />
      Email</a>
  </li>
  <li class="boder_bottom" style="margin-left: 6px"></li>
  <li style="margin-left: 6px">
    <a style="border-radius: 8px; width: 98%" class="dropdown-item dropdown-item_mxh btn-send-on-printer" href="#">Gửi
      trên Printerest</a>
  </li>
  <li style="margin-left: 6px" class="item-profile">
    <a style="border-radius: 8px; width: 98%" class="dropdown-item dropdown-item_mxh dropdown-item_mxh" href="#">
      <img class="avatar-profile_share search-profile" src="https://cdn-icons-png.flaticon.com/128/2952/2952117.png"
        alt="" />Tìm kiếm</a>
    <a style="border-radius: 8px; width: 98%" class="dropdown-item dropdown-item_mxh" href="#">
      <img class="avatar-profile_share" src="https://i.pinimg.com/474x/31/11/21/31112187b0fccf4c17cb3871fb60b84f.jpg"
        alt="" />Bách Nguyễn</a>
    <a style="border-radius: 8px; width: 98%" class="dropdown-item dropdown-item_mxh" href="#">
      <img class="avatar-profile_share" src="https://i.pinimg.com/564x/83/76/60/837660daac6b40ead974d441d797909e.jpg"
        alt="" />
      Diệu Linh</a>
    <a style="border-radius: 8px; width: 98%" class="dropdown-item dropdown-item_mxh" href="#">
      <img class="avatar-profile_share"
        src="https://i.pinimg.com/736x/e5/5e/c6/e55ec644366ebfd5331d5f2bdff933e9--voi-japan-girl.jpg" alt="" />
      Thanh Phạm</a>
    <a style="border-radius: 8px; width: 98%" class="dropdown-item dropdown-item_mxh" href="#">
      <img class="avatar-profile_share" src="https://i.pinimg.com/474x/43/f8/6f/43f86f0294d748d541fba47f080efc93.jpg"
        alt="" />
      fuckboy</a>
    <a style="border-radius: 8px; width: 98%" class="dropdown-item dropdown-item_mxh" href="#">
      <img class="avatar-profile_share" src="https://i.pinimg.com/564x/83/76/60/837660daac6b40ead974d441d797909e.jpg"
        alt="" />
      Diệu Linh</a>
  </li>
</ul>