<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <title>Printerset</title>
    <link rel="stylesheet" href="../public/css/trangchu.css">
</head>
<body>
    
    <nav class="navbar navbar-expand-lg bg-light">

        <div class="container-fluid">

            <a class="navbar-brand" href="#"> 
                <img class="navbar-logo" style="" src="https://inkythuatso.com/uploads/thumbnails/800/2021/11/logo-pinterest-inkythuatso-01-30-09-00-35.jpg" alt="" srcset="">
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">

           


            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item trangchu">
                <a class="nav-link" aria-current="page" href="#">Trang chủ</a>
              </li>
             
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Tạo
                </a>
                <ul style=""class="dropdown-menu dropdown_menu_tao">
                  <li style="margin-left: 6px;"><a style="border-radius: 8px;width: 98%;" class="dropdown-item" href="#"> Tạo Ghim ý Tưởng</a></li>
                  <li style="margin-left: 6px;"><a  style="border-radius: 8px;width: 98%;"class="dropdown-item" href="#">Tạo Ghim</a></li>
                 
                </ul>
              </li>


              <li class="nav-item">
                <form class="d-flex" role="search">
                    <div> 
                        <!-- <ion-icon class="icon_search"name="search"></ion-icon> -->
                        <input
                   
                        style="" 
                        class="form-control me-2 search_input" 
                        type="search" placeholder="Search" aria-label="Search">

                    </div>
                   
                  </form>
              </li>


               <li class="nav-item icon-navbar">
                <a class="nav-link active" aria-current="page" href="#">
                    <ion-icon name="notifications-outline" class="fontsize-navbar"></ion-icon>
                    <!-- Thông báo -->
                </a>
              </li>
              <li class="nav-item icon-navbar">
                <a class="nav-link" href="#">
                    <ion-icon class="fontsize-navbar"  name="chatbubble-ellipses-outline"></ion-icon>
                    <!-- Tin nhắn -->
                </a>
              </li>
              <li class="nav-item icon-navbar" style="">
                <a class="nav-link active" aria-current="page" href="#">D</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <!-- tài khoản và các tuỳ chọn khác -->
                </a>
                <ul style="border-radius: 16px;width: 360px;left: -330px;"class="dropdown-menu">
                  <li style="margin-left: 6px;"><a style="border-radius: 8px;width: 98%;" class="dropdown-item" href="#"> Tạo Ghim ý Tưởng</a></li>
                  <li style="margin-left: 6px;"><a  style="border-radius: 8px;width: 98%;"class="dropdown-item" href="#">Tạo Ghim</a></li>
                 
                </ul>
              </li>
              
            </ul>

           
            
          </div>
        </div>
      </nav>



      
     
      

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js

    "></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>