<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="icon" href="https://inkythuatso.com/uploads/thumbnails/800/2021/11/logo-pinterest-inkythuatso-01-30-09-00-35.jpg">
    <title>Printerset</title>
    <!-- modal -->
    <!--  -->
    <link rel="stylesheet" href="../public/css/trangcanhan.css">
</head>

    
    <nav class="navbar navbar-expand-lg bg-light header_nav">

        <div class="container-fluid">

            <a class="navbar-brand navbar-brand__logo" href="#"> 
                <img class="navbar-logo" style="" src="https://inkythuatso.com/uploads/thumbnails/800/2021/11/logo-pinterest-inkythuatso-01-30-09-00-35.jpg" alt="" srcset="">
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">

           


            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item" style="margin-right: 30px;">
                <a class="nav-link trangchu" aria-current="page" href="#"><h6>Trang chủ</h6></a>
              </li>
             
              <li class="nav-item dropdown">
               
                <a class="nav-link dropdown-toggle navbar-tao" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Tạo
                </a>
                <ul style=""class="dropdown-menu dropdown_menu_tao">
                  <li style="margin-left: 6px;"><a style="border-radius: 8px;width: 98%;" class="dropdown-item" href="#"> Tạo Ghim ý Tưởng</a></li>
                  <li style="margin-left: 6px;"><a  style="border-radius: 8px;width: 98%;"class="dropdown-item" href="#">Tạo Ghim</a></li>
                 
                </ul>
              </li>


              <li class="nav-item">
                <form class="d-flex" role="search">
                    <div> 
                        <!-- <ion-icon class="icon_search"name="search"></ion-icon> -->
                        <input
                   
                        style="" 
                        class="form-control me-2 search_input" 
                        type="search" placeholder="Search" aria-label="Search">

                    </div>
                   
                  </form>
              </li>


               <li class="nav-item icon-navbar icon_navbar icon-navbar_thongbao">
                <a class="nav-link active" aria-current="page" href="#">
                    <ion-icon name="notifications-outline" class="fontsize-navbar"></ion-icon>
                    <!-- Thông báo -->
                </a>
                <div class="thongbao">Thông báo</div>
              </li>
              <li class="nav-item icon-navbar icon_navbar icon-navbar_tinnhan">
                <a class="nav-link" href="#">
                    <ion-icon class="fontsize-navbar"  name="chatbubble-ellipses-outline"></ion-icon>
                    <!-- Tin nhắn -->
                    
                </a>
                <div class="tinnhan">Tin nhắn
                  
                </div>
              </li>
              <li class="nav-item icon-navbar icon_navbar icon-navbar__hoso" style="">
                <a class="nav-link active" aria-current="page" href="#">D</a>
                <div class="hoso">Hồ sơ của bạn</div>
              </li>
              
              <li class="nav-item dropdown all">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <!-- tài khoản và các tuỳ chọn khác -->
                </a>
              
                <ul style="border-radius: 16px;width: 360px;left: -300px;"class="dropdown-menu">
                  <li style="margin-left: 6px;">
                    <a style="border-radius: 8px;width: 98%;" class="dropdown-item" href="#">
                      <div style="display:flex ;">
                        <div class="avatar"><img class="img-avatar" src="http://1.bp.blogspot.com/-PvdvQ_LCMBg/UCWeepk0CBI/AAAAAAAAA2s/ho65p8h0DwY/s1600/ace1.jpg" alt=""></div>
                        <div>
                          <div class="account-name">
                         
                            <h6> Dissappear Dissappear</h6>
                            <div> Cá nhân</div>
                            <div> thanhphammk@gmail.com</div>
                        </div>
                       
                         
                        </div>
                      </div>
                     
                    </a>
                  </li>
                  <li style="margin-left: 6px;font-size: 12px;margin-left: 22px;margin-top: 20px;">Tài khoản của bạn</li>
                  <li style="margin-left: 6px;"><a  style="border-radius: 8px;width: 98%;"class="dropdown-item" href="#"><h6> Thêm tài khoản</h6></a></li>
                  <li style="margin-left: 6px;"><a  style="border-radius: 8px;width: 98%;"class="dropdown-item" href="#"><h6>Chuyển đổi thành tài khoản doanh nghiệp</h6></a></li>
                  <li style="margin-left: 6px;font-size: 12px;margin-left: 22px;margin-top: 20px">Tuỳ chọn khác</li>
                  <li style="margin-left: 6px;"><a  style="border-radius: 8px;width: 98%;"class="dropdown-item" href="#"><h6>Cài đặt</h6></a></li>
                  <li style="margin-left: 6px;"><a  style="border-radius: 8px;width: 98%;"class="dropdown-item" href="#"><h6> Điều chỉnh bảng tin nhà của bạn</h6></a></li>
                  <li style="margin-left: 6px;"><a  style="border-radius: 8px;width: 98%;"class="dropdown-item" href="#"><h6>Cài đặt ứng dụng Chrome</h6></a></li>
                  <li style="margin-left: 6px;"><a  style="border-radius: 8px;width: 98%;"class="dropdown-item" href="#"><h6>Quyền riêng tư của bạn</h6></a></li>
                  <li style="margin-left: 6px;"><a  style="border-radius: 8px;width: 98%;"class="dropdown-item" href="#"><h6> Nhận trợ giúp</h6></a></li>
                  <li style="margin-left: 6px;"><a  style="border-radius: 8px;width: 98%;"class="dropdown-item" href="#"><h6> Xem điều khoản và quyền riêng tư</h6></a></li>
                  <li style="margin-left: 6px;"><a  style="border-radius: 8px;width: 98%;"class="dropdown-item" href="#"><h6> Đăng xuất</h6></a></li>
                  

                </ul>
              </li>
              
            </ul>

           
            
          </div>
        </div>
      </nav>


    <!-- container -->
    
    <main>
      <div class="container1">
        <!-- <ul class="list-group profile">
            <li class="list-group-item img-avatar"><div class="image-avatar-profile"><img class ="img-profile" src="https://i.pinimg.com/736x/e5/5e/c6/e55ec644366ebfd5331d5f2bdff933e9--voi-japan-girl.jpg"alt=""></div></li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
          </ul> -->
       
       
       <div class="profile">
            <div class="avatar-profile"><img class ="img-profile" src="https://i.pinimg.com/564x/71/29/4d/71294d3b5ab062e4e7b90e6232d8d10e.jpg"alt=""></div>
            <div class="infor-profile">
                <h1 class="name-profile">Dissappear Dissappear</h1>
                <p class="name-link">@dissappear</p>
                <p class="total-follow"> 1.000.000.000 lượt theo dõi</p>
            </div>
            <div class="share-change">
            
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    
                   <!-- chiase -->
                    <li class="nav-item dropdown dropdown-all_share">
                     
                      <a class="nav-link share-change__share" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Chia sẻ
                      </a>
                      <ul style=""class="dropdown-menu dropdown_menu_share_mxh">
                        <li  style="margin-left: 6px;"><a style="border-radius: 8px;width: 98%;"class="dropdown-item dropdown-item_mxh btn-send-on-printer1" href="#">Chia sẻ</a></li>
                         <li style="margin-left: 6px;" class="item-mxh boder-bottom">
                            <a style="border-radius: 8px;width: 98%;" class="dropdown-item dropdown-item_mxh" href="#"> <img class="logo-mxh"src="https://cdn-icons-png.flaticon.com/128/2504/2504845.png" alt=""> WhatApps</a>
                            <a style="border-radius: 8px;width: 98%;" class="dropdown-item dropdown-item_mxh" href="#"> <img class="logo-mxh"src="https://cdn-icons-png.flaticon.com/128/145/145802.png" alt=""> Facebook</a>
                            <a style="border-radius: 8px;width: 98%;" class="dropdown-item dropdown-item_mxh" href="#"> <img class="logo-mxh"src="https://cdn-icons-png.flaticon.com/128/3670/3670151.png" alt=""> Twiter</a>
                            <a style="border-radius: 8px;width: 98%;" class="dropdown-item dropdown-item_mxh" href="#"> <img class="logo-mxh"src="https://cdn-icons-png.flaticon.com/128/1011/1011407.png" alt=""> Sao chép liên kết</a>
                            <a style="border-radius: 8px;width: 98%;" class="dropdown-item dropdown-item_mxh" href="#"> <img class="logo-mxh"src="https://cdn-icons-png.flaticon.com/128/2089/2089181.png" alt=""> Email</a>
                        </li>
                        <li  class="boder_bottom" style="margin-left: 6px;"></li>
                        <li style="margin-left: 6px;"><a  style="border-radius: 8px;width: 98%;"class="dropdown-item dropdown-item_mxh btn-send-on-printer" href="#">Gửi trên Printerest</a></li>
                        <li style="margin-left: 6px;" class="item-profile">
                            <a style="border-radius: 8px;width: 98%;" class="dropdown-item dropdown-item_mxh dropdown-item_mxh" href="#"> <img class="avatar-profile_share search-profile"src="https://cdn-icons-png.flaticon.com/128/2952/2952117.png" alt="">Tìm kiếm</a>
                            <a style="border-radius: 8px;width: 98%;" class="dropdown-item dropdown-item_mxh" href="#"> <img class="avatar-profile_share"src="https://i.pinimg.com/474x/31/11/21/31112187b0fccf4c17cb3871fb60b84f.jpg" alt="">Bách Nguyễn</a>
                            <a style="border-radius: 8px;width: 98%;" class="dropdown-item dropdown-item_mxh" href="#"> <img class="avatar-profile_share"src=  "https://i.pinimg.com/564x/83/76/60/837660daac6b40ead974d441d797909e.jpg" alt=""> Diệu Linh</a>
                            <a style="border-radius: 8px;width: 98%;" class="dropdown-item dropdown-item_mxh" href="#"> <img class="avatar-profile_share"src="https://i.pinimg.com/736x/e5/5e/c6/e55ec644366ebfd5331d5f2bdff933e9--voi-japan-girl.jpg" alt=""> Thanh Phạm</a>
                            <a style="border-radius: 8px;width: 98%;" class="dropdown-item dropdown-item_mxh" href="#"> <img class="avatar-profile_share"src="https://i.pinimg.com/474x/43/f8/6f/43f86f0294d748d541fba47f080efc93.jpg" alt="">  fuckboy</a>
                            <a style="border-radius: 8px;width: 98%;" class="dropdown-item dropdown-item_mxh" href="#"> <img class="avatar-profile_share"src=  "https://i.pinimg.com/564x/83/76/60/837660daac6b40ead974d441d797909e.jpg" alt=""> Diệu Linh</a>
                        </li>
                      </ul>
                    </li>


                    <!--  -->
                    <!-- <li class="nav-item dropdown">
                     
                        <a class="nav-link navbar-tao" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Chỉnh sửa hồ sơ 
                        </a>
                        <ul style=""class="dropdown-menu dropdown_menu_tao">
                          <li style="margin-left: 6px;"><a style="border-radius: 8px;width: 98%;" class="dropdown-item" href="#"> Tạo Ghim ý Tưởng</a></li>
                          <li style="margin-left: 6px;"><a  style="border-radius: 8px;width: 98%;"class="dropdown-item" href="#">Tạo Ghim</a></li>
                         
                        </ul>
                      </li> -->
                </ul>
                <a class="btn_change"href=""><div><div>Chỉnh sửa hồ sơ </div></div></a>
                
            </div>


            <div class="created-screen">
                <a href="" class="created"><p href="">Đã tạo</p>
                <div>

                </div>
                </a>
                <a href="" class="created1"><p href="">Đã lưu</p>
                <div>
                    
                </div>
                </a>
            </div>
       </div>
        
       
        

      </div>
      <div class="container3">
        <div class="sapxep">
       
        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <ion-icon style ="width: 30px;height: 30px;"name="swap-horizontal-outline"></ion-icon>
        </a>
      
        <ul style="border-radius: 16px;width: 300px;left: -300px;"class="dropdown-menu">
          <li style="margin-left: 6px;">
            <a style="border-radius: 8px;width: 98%;" class="dropdown-item" href="#">
             
             
            </a>
          </li>
          <li style="margin-left: 6px;font-size: 12px;margin-left: 22px;margin-top: 20px;">Sắp xếp theo</li>
          <li style="margin-left: 6px;"><a  style="border-radius: 8px;width: 98%;"class="dropdown-item" href="#"><h6>Từ A đến Z</h6></a></li>
          <li style="margin-left: 6px;"><a  style="border-radius: 8px;width: 98%;"class="dropdown-item" href="#"><h6>Tuỳ Chỉnh</h6></a></li>
          <li style="margin-left: 6px;"><a  style="border-radius: 8px;width: 98%;"class="dropdown-item" href="#"><h6>Đã lưu lần cuối vào</h6></a></li>
          <li style="margin-left: 6px;font-size: 12px;margin-left: 22px;margin-top: 20px">Bố cục hồ sơ</li>
          <li style="margin-left: 6px;"><a  style="border-radius: 8px;width: 98%;"class="dropdown-item" href="#"><h6>Chỉnh sửa chế độ hiển thị bảng</h6></a></li>
     
          

        </ul>
      </div>
      <div class="sapxep">
       
        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <!-- tài khoản và các tuỳ chọn khác --><ion-icon style ="width: 30px;height: 30px;" name="add-outline"></ion-icon>
        </a>
      
        <ul style="border-radius: 16px;width: 180px;left: -300px;"class="dropdown-menu">
          <li style="margin-left: 6px;">
            <a style="border-radius: 8px;width: 98%;" class="dropdown-item" href="#">
             
             
            </a>
          </li>
          <li style="margin-left: 6px;font-size: 12px;margin-left: 22px;margin-top: 10px;">Tạo</li>
          <li style="margin-left: 6px;"><a  style="border-radius: 8px;width: 98%;"class="dropdown-item" href="#"><h6>Ghim</h6></a></li>
          <li style="margin-left: 6px;"><a  style="border-radius: 8px;width: 98%;"class="dropdown-item" href="#"><h6>Pin ý tưởng</h6></a></li>
          <li style="margin-left: 6px;"><a  style="border-radius: 8px;width: 98%;"class="dropdown-item" href="#"><h6>Bảng</h6></a></li>
        
     
          

        </ul>
      </div>
     </div>
      
      <div class="container2"> 
        <div class="column1">
        <div class="post1">
            <div class="overlay1">
              
            </div>
            <img
              src="https://i.pinimg.com/736x/e5/5e/c6/e55ec644366ebfd5331d5f2bdff933e9--voi-japan-girl.jpg"
              alt=""
            />
        </div>
        
          <!-- title-avatar -->
          <h6 class="title-ghim">Tất cả các Ghim</h6>
          <div class="time_ghim">
            <p class="total_ghim">13 ghim</p>
            <p class="time_ghimed">10 giờ trước</p>
        </div>
         
    </div>
    <div class="column1">
        <div class="post1">
            <div class="overlay1">
              
            </div>
            <img
              src="https://i.pinimg.com/736x/e5/5e/c6/e55ec644366ebfd5331d5f2bdff933e9--voi-japan-girl.jpg"
              alt=""
            />
            
            
        </div>
          <!-- title-avatar -->
          <p class="title-ghim">Danh sách mua sắm của bạn</p>
            <div class="time_ghim">
             <p class="total_ghim">Tất cả các sản phẩm đã lưu</p>
             
        </div>
         
    </div>
    </div>
    <div class="line-bottom"></div>
       
      

    <div class="container3">
       <div><div class="title-ghim"> Ý tưởng chưa sắp xếp</div></div> 
        <div class="modal-black"> 
          <!--  -->
        <button type="button" class="btn btn-primary btn-sapxep" data-bs-toggle="modal" data-bs-target="#exampleModal">
           Sắp xếp
         </button>
          <!--  -->
       
       </div>
    </div>
    
      
  </main>
     
      
<!-- Modal -->
<div class="modal fade modal-sapxep" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header header-modal">
          <h1 class="modal-title fs-5" id="exampleModalLabel"> Sắp xếp thành một bảng</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container text-center">
            <div class="row">
              <div class="col-3">
                <div class="img-modal"><img class="img-modal__body" src="https://i.ytimg.com/vi/zI0RaF4jsy8/maxresdefault.jpg" alt=""></div>
                
              </div>
              <div class="col-3">
                <div class="img-modal"><img class="img-modal__body" src="https://i.ytimg.com/vi/zI0RaF4jsy8/maxresdefault.jpg" alt=""></div>
                
              </div>
              <div class="col-3">
                <div class="img-modal"><img class="img-modal__body" src="https://i.ytimg.com/vi/zI0RaF4jsy8/maxresdefault.jpg" alt=""></div>
                
              </div>
              <div class="col-3">
                <div class="img-modal"><img class="img-modal__body" src="https://i.ytimg.com/vi/zI0RaF4jsy8/maxresdefault.jpg" alt=""></div>
                
              </div> 

            
              
            </div>
            <div class="row">
              <div class="col-3">
                <div class="img-modal"><img class="img-modal__body" src="https://i.ytimg.com/vi/zI0RaF4jsy8/maxresdefault.jpg" alt=""></div>
                
              </div>
              <div class="col-3">
                <div class="img-modal"><img class="img-modal__body" src="https://i.ytimg.com/vi/zI0RaF4jsy8/maxresdefault.jpg" alt=""></div>
                
              </div>
              <div class="col-3">
                <div class="img-modal"><img class="img-modal__body" src="https://i.ytimg.com/vi/zI0RaF4jsy8/maxresdefault.jpg" alt=""></div>
                
              </div>
              <div class="col-3">
                <div class="img-modal"><img class="img-modal__body" src="https://i.ytimg.com/vi/zI0RaF4jsy8/maxresdefault.jpg" alt=""></div>
                
              </div> 

            
              
            </div>
           
          </div>
         
        </div>
        <div class="modal-footer footer-modal">
          <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
          <button type="button" class="btn btn-primary">Tiếp theo</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end madal -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js

    "></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>

<script src=""></script>
</body>
</html>