<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Bootsrap 4 CDN-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />

    <!--Fontawesome CDN-->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />

    <!--Custom styles-->
    <link rel="stylesheet" href="loginPage.css" />
    <title>Upload Img</title>
  </head>
  <body>
    <div class="container">
      <div class="d-flex justify-content-center h-100">
        <div style="height: auto;width: 800px;"class="card">
          <div class="card-header">
            <h3>Upload Idea</h3>
            <div class="d-flex justify-content-end social_icon">
           
            </div>
          </div>
          <div class="card-body">
            <form id="upload-form"
            enctype="multipart/form-data" 
            action="" 
            method="POST">
              <div class="input-group form-group">
                <div class="input-group-prepend">
                
                </div>
                <input
                  type="text"
                  class="form-control title"
                  placeholder="Title"
                  name="email"
                />
              </div>


              <div class="input-group form-group">
                <div class="input-group-prepend">
                 
                </div>
                <div class="form-floating" style="width: 150%;">
                    <textarea class="form-control" placeholder="Leave a Content here" id="floatingTextarea2" style="height: 400px"></textarea>
                    <label for="floatingTextarea2" style="color: aliceblue;"></label>
                  </div>
              </div>




              <div class="input-group form-group">
                <div class="input-group-prepend">
                 
                </div>
                <input
                  type="file"
                  class="form-control"
                  id="image"
                  placeholder="file"
                  name="image"
                />
              </div>
             
              <div class="form-group">
                <input
                  type="submit"
                  value="Upload"
                  class="btn float-right login_btn"
                />
              </div>
            </form>
          </div>
      
        </div>
      </div>
    </div>
    <script src="/js/login.js"></script>
  </body>
</html>
